*{
  margin: 0;
  background-color: #FAFAFA;
}
.eror500{
  width:100%;
  height: 100vh;
  background-image: url(../img/error500.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.eror404{
  width:100%;
  height: 100vh;
  background-image: url(../img/400-Bad-Request-t.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav{
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color:white;
  box-shadow: 0 2 px 2px -2px gray;
}
.logo{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.form{
  width: 90%;
  margin: 0;
  margin:0 auto;
}
.form input{
  margin-top: 17px;
  font-size: 15px;
  color: rgba(0,0,0,.9);
  width: 90%;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.form button{
  color:white;
  margin-top: 17px;
  background-color:blue;
  height: 35px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}
.container{
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.posts-div{
  background-color: white;
  border:.5px solid gray;
  box-shadow: 1px 2px 2px -2px blue;
  padding: 10px;
  margin: 3px;
}
.posts-title{
  background-color: white;
  text-align: center;
  font-size: 16px;
  }
  .posts-img{
    width: 100%;
    height: 500px;
    opacity: 1;
    margin: 5px 0 5px;
 }
 .posts-img:hover{
   opacity: .9;
}
.posts-detail{
 background-color: white;
 font-size: 14px;
}
.posts-date{
  border-top: .5px solid gray;
  background-color: white;
  margin-top: 12px;
  text-align: right;
}
.footer{
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  background-color:white;
  box-shadow: 0 2 px 2px -2px gray;
  color: black;
}
@media screen and (min-width: 800px) {
  .form{
    width: 50%;
    margin:0 auto;
  }
  .container{
    width: 50%;
  }
}